.logout{
    
    border-radius: 10px;
    padding: 8px 12px;
    font-weight: 500;
    font-size: small;
    transition: all 300ms ease-in-out;
    background: #fff;
    color: #1b3d38;
    box-shadow: rgba(0, 0, 0, 0.3);
    border: none;
    
}
.logout:hover{
    background:linear-gradient(60deg,#1b3d38,#27574f,#1b3d38);
    color: #fff;
}
.menu-button{
    color: #f5f5f5;
    border-radius: 50%;
    padding: 15px;
    font-size: large;
    justify-content: center;
    align-items: center;
    background: #1b3d38;
    border: none;
    right: 0;
}
.dash-cardone{
    background: #fff;
    border-radius: 15px;
}
.dash-cardone p{
    color: #797979;
    font-size: smaller;
}
.kidney{
    background-image: url(../static/assests/kidneys.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position:right;
}
.diabetes{
    background-image: url(../static/assests/medical-tools.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position:right;
}