.med-primary {
    color: #b3eda9;
}

.med-main-back {
    background: #111;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    overflow: hidden;
}

.med-intro-text {
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.med-chat-container-ai::-webkit-scrollbar {
    display: none;
}

.med-chat-container-ai {
    flex-grow: 1;
    overflow-y: auto;
    margin-top: 20px;
    max-height: 80vh;
    padding-bottom: 20px;
}

.med-chat-bubble {
    background: transparent;
    border: #b3eda9 1px solid;
    padding: 10px 20px;
    border-radius: 20px;
    margin-bottom: 10px;
    max-width: 80%;
    color: #fff;
    font-size: 14px;
}

.med-chat-bubble.user {
    align-self: flex-end;
    background: #b3eda9;
    color: #000;
}

.med-chat-bubble.bot {
    align-self: flex-start;
    color: black;
    background-color: white;
}

.med-roundpill {
    border-radius: 40px;
    border: #b3eda9 2px solid;
    transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.med-roundpill:hover {
    color: black;
}

.med-dot {
    transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.med-roundpill:hover .med-dot {
    transform: scale(100);
    background: #b3eda9;
}

.med-roundpill:hover .med-prompt {
    color: #000;
}

.med-input-container {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 0 0 5px 0;
    background: transparent;
    bottom: 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
}

.med-input-prompt {
    flex-grow: 1;
    padding: 10px 20px;
    border: #f5f5f5 1px double;
    border-radius: 40px;
    background: transparent;
    color: #bebebe;
    caret-color: #b3eda9;
    transition: background 0.3s ease, height 0.3s ease;
}

.med-send-button-ai {
    padding: 10px 10px;
    border: none;
    border-radius: 50%;
    background: #b3eda9;
    color: rgb(0, 0, 0);
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0, 128, 128, 0.5);
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.sending #med-send-button-text {
    display: none;
}

.sending #med-loading-spinner {
    display: inline-block;
}