<div class="modal fade" id="ask-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content  bg-white p-0 m-0">
            <div class="modal-header">
                <h1 class="modal-title fs-5 px-1 px-md-3 text-dark" id="exampleModalLabel">Ask for Medicine</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-dark">
                <form method="POST" class="row px-4">
                    {{ useraskform.hidden_tag() }}
                    <div class="col-12 d-flex mb-3 flex-column">
                        {{ useraskform.user_name.label(class='fw-semibold') }}
                        {{ useraskform.user_name(class='rounded py-2 px-2 border-0 bg-body-tertiary') }}
                    </div>
                    <div class="col-12 d-flex mb-3 flex-column">
                        {{ useraskform.medicine_name.label(class='fw-semibold') }}
                        {{ useraskform.medicine_name(class='rounded py-2 px-2 border-0 bg-body-tertiary') }}
                    </div>
                    <div class="col-6 d-flex mb-3 flex-column">
                        {{ useraskform.user_pincode.label(class='fw-semibold') }}
                        {{ useraskform.user_pincode(class='rounded py-2 px-2 border-0 w-100 bg-body-tertiary') }}
                    </div>
                    <div class="col-6 d-flex mb-3 flex-column">
                        {{ useraskform.user_city.label(class='fw-semibold') }}
                        {{ useraskform.user_city(class='rounded py-2 px-2 border-0 w-100 bg-body-tertiary') }}
                    </div>
                    <div class="col-12 mt-4">
                        {{ useraskform.submit(class='rounded w-100 btn btn-dark px-4 py-2 rounded') }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>