<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_cfb0b830e3f6bde8fdb90f656d4f94f1 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-minimap/3.6.1/Control.MiniMap.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-minimap/3.6.1/Control.MiniMap.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
    <script src="https://cdn.jsdelivr.net/gh/python-visualization/folium@main/folium/templates/leaflet_heat.min.js"></script>
</head>
<body>
    
    
            <div class="folium-map" id="map_cfb0b830e3f6bde8fdb90f656d4f94f1" ></div>
        
</body>
<script>
    
    
            var map_cfb0b830e3f6bde8fdb90f656d4f94f1 = L.map(
                "map_cfb0b830e3f6bde8fdb90f656d4f94f1",
                {
                    center: [44.933143, 7.540121],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_7765d061434128a45fd1eaa4f296ddaf = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_7765d061434128a45fd1eaa4f296ddaf.addTo(map_cfb0b830e3f6bde8fdb90f656d4f94f1);
        
    
            var tile_layer_7441a975d6177d8e05ce12a47f42b16b = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
            var mini_map_cc7ce22ce53865ec7a0510cced00dc04 = new L.Control.MiniMap(
                tile_layer_7441a975d6177d8e05ce12a47f42b16b,
                {"autoToggleDisplay": false, "centerFixed": false, "collapsedHeight": 25, "collapsedWidth": 25, "height": 150, "minimized": false, "position": "bottomright", "toggleDisplay": false, "width": 150, "zoomAnimation": false, "zoomLevelOffset": -5}
            );
            map_cfb0b830e3f6bde8fdb90f656d4f94f1.addControl(mini_map_cc7ce22ce53865ec7a0510cced00dc04);
        
    
            var tile_layer_219b49da8ec666fbb8c9c27fed18943b = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Map data \u00a9 OpenStreetMap contributors", "detectRetina": false, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_219b49da8ec666fbb8c9c27fed18943b.addTo(map_cfb0b830e3f6bde8fdb90f656d4f94f1);
        
    
            var marker_cluster_59f54b3698cf8b0ba1caaf90c94458dd = L.markerClusterGroup(
                {}
            );
        
    
            var marker_c2a2fa3c3c6e193ab305df5aa85b40c4 = L.marker(
                [44.9656561, 7.5669114],
                {}
            ).addTo(marker_cluster_59f54b3698cf8b0ba1caaf90c94458dd);
        
    
            var icon_d76c02f52f97391dc9bd3fa0825852d7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "house-medical", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_c2a2fa3c3c6e193ab305df5aa85b40c4.setIcon(icon_d76c02f52f97391dc9bd3fa0825852d7);
        
    
        var popup_f158ba69f4556bcb517678e8a7e9d04c = L.popup({"maxWidth": 300});

        
            
                var html_9cb129f4cc801a5f5d08b644db590dbd = $(`<div id="html_9cb129f4cc801a5f5d08b644db590dbd" style="width: 100.0%; height: 100.0%;">Istituto per la Ricerca e la Cura del Cancro Candiolo (IRCCS)</div>`)[0];
                popup_f158ba69f4556bcb517678e8a7e9d04c.setContent(html_9cb129f4cc801a5f5d08b644db590dbd);
            
        

        marker_c2a2fa3c3c6e193ab305df5aa85b40c4.bindPopup(popup_f158ba69f4556bcb517678e8a7e9d04c)
        ;

        
    
    
            marker_cluster_59f54b3698cf8b0ba1caaf90c94458dd.addTo(map_cfb0b830e3f6bde8fdb90f656d4f94f1);
        
    
            var heat_map_e90db719bd45e998c1d1e0731b278b05 = L.heatLayer(
                [[44.9656561, 7.5669114]],
                {"blur": 15, "maxZoom": 18, "minOpacity": 0.5, "radius": 25}
            );
        
    
            heat_map_e90db719bd45e998c1d1e0731b278b05.addTo(map_cfb0b830e3f6bde8fdb90f656d4f94f1);
        
    
            var marker_a09041bac21885b1aca9aefea04da763 = L.marker(
                [44.933143, 7.540121],
                {}
            ).addTo(map_cfb0b830e3f6bde8fdb90f656d4f94f1);
        
    
            var icon_a08d6837c620ff892dd7377ceb1f4eb7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_a09041bac21885b1aca9aefea04da763.setIcon(icon_a08d6837c620ff892dd7377ceb1f4eb7);
        
    
        var popup_90f6ec9e755ebd6cc95ee1f22d4cd051 = L.popup({"maxWidth": 200});

        
            
                var html_527dec8eef90d3755739a85218b55335 = $(`<div id="html_527dec8eef90d3755739a85218b55335" style="width: 100.0%; height: 100.0%;">You are here</div>`)[0];
                popup_90f6ec9e755ebd6cc95ee1f22d4cd051.setContent(html_527dec8eef90d3755739a85218b55335);
            
        

        marker_a09041bac21885b1aca9aefea04da763.bindPopup(popup_90f6ec9e755ebd6cc95ee1f22d4cd051)
        ;

        
    
</script>
</html>