{% extends "base.html" %} {% block title %}Medassis | Map{% endblock %} {% block
content %}
<div class="bg-white" style="width: 100%; height:100vh ;z-index:1">
    <div class="d-flex justify-content-between  align-items-center " style="height: 6vh;">
        <h2 class=" ps-md-0 fs-1 pt-5 ms-3 fw-semibold mt-1 ">Nearby Healthcare Centers</h2>
        <a href="{{ url_for('dashboard') }}"><i
                class="fa-solid fa-arrow-left d-md-none me-2 d-flex position-fixed menu-button shadow" style="transform: translateY(-13px);"></i></a>
    </div>

    <div class="rounded" style="width: 100%; height:90vh; border-radius:50px; margin-top:20px; border-radius:30px; overflow:hidden;">
        {% if pincode %}
        {% include 'hospitals.html' %}
        {% else %}
        <div class="d-flex justify-content-center align-items-center bg-white" style="height: 90vh; width:100%"><a href="{{ url_for('profile') }} " style="text-decoration: none;"><div class="d-flex flex-column justify-content-center align-items-center"><img src="../static/assests/add.gif" width="80" height="80" alt=""><p  class="fs-4 mx-auto my-auto text-secondary">Add a pincode in your profile</p></div></a></div> 
        {% endif %}
    </div>
</div>
{% endblock %}