{% extends "base.html" %}

{% block title %}Medassis | Med-Shop{% endblock %}

{% block content %}
{% include "feedback.html" %}
{% include "flash.html" %}
<div style="height: 100vh; overflow-y: auto;">
    <div class="px-4 pt-3 pt-md-4 position-relative d-flex justify-content-between align-items-center mobhead">
        <h4 class="ps-md-0 fs-3 fs-md-3 pt-1 fw-semibold">MedShop</h4>
        <a href="{{ url_for('logout') }}">
            <button class="logout me-5 me-md-0 shadow postion-fixed">
                Log Out <i class="fa-solid fa-right-from-bracket"></i>
            </button>
        </a>
        <i class="fa-solid fa-bars d-md-none me-2 d-flex position-fixed menu-button shadow"
            onclick="togglesidebar()"></i>
    </div>
    <div
        class="p-2 p-md-4 pt-3 pt-md-5 pt-md-3 rounded bg-white row mx-2 mx-md-4 mt-2 shadow d-flex align-items-center">
        <input class="py-3 px-4 rounded-pill bg-body-secondary w-100 mx-1 border-0"
            placeholder="Search for medicine..." />
        {% for medicine in medicines %}
        <div class="col-md-3 col-6 p-3 d-flex justify-content-center">
            <a href="{{ url_for('medicine_details', medicine_id=medicine.id) }}"
                class="text-decoration-none text-dark w-100">
                <div class="rounded border-secondary border m-0 p-0">
                    <img src="../static/assests/Group 4.png" class="rounded"
                        style="object-fit: contain; object-fit: cover; width:108.5%;" alt="">
                    <div class="px-3 py-3">
                        <div class="d-flex justify-content-between">
                            <h6>{{ medicine.medicine_name }}</h6>
                            <span class="badge text-bg-dark d-flex align-items-center">{{ medicine.medicine_category
                                }}</span>
                        </div>
                        <h6>Rs. {{ medicine.price }}</h6>
                        <div class="d-flex justify-content-between">
                            <p class="text-secondary">{{ medicine.shop_name }}</p>
                            <button class="btn btn-success btn-sm">Buy Now</button>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}