{% extends "base.html" %} {% block title %}Medassis | Profile{% endblock %} {% block
content %}
{% include "feedback.html" %}
<div
  class="px-4 pt-3 pt-md-4 position-relative d-flex justify-content-between align-items-center mobhead"
>
  <!-- <div class="d-flex justify-content-between postion-fixed pt-5 pt-md-0"> -->

  <h4 class="ps-md-0 fs-3 fs-md-3 pt-1 fw-semibold">Profile&nbsp;<i class="fa-solid fa-gear fs-4 bg-white p-2 rounded-circle text-body-secondary setprofile" type="button" data-bs-toggle="modal" data-bs-target="#modalsettings"></i></h4>
  <div class="modal fade" id="modalsettings" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content bg-white p-2 p-md-4" style="max-height: 650px; overflow-y:scroll;">
        <h4 class="bg-dark fw-semibold text-light rounded px-3 py-2">Edit Profile</h4>
        <div class="modal-body">
          <form class="row w-100" method='POST'>
            {{ profileset.hidden_tag() }}
            <div class="py-2 col-6 m-0">
              {{ profileset.gender.label(class='text-dark') }}<br/>
              {{ profileset.gender(class='w-100 ') }}
            </div>
            <div class="py-2 col-6 m-0">
              {{ profileset.age.label(class='text-dark') }}<br />
              {{ profileset.age(class='px-2 py-2 border-0 rounded bg-body-secondary w-100 ') }}
            </div>
            <div class="py-2 col-6 m-0">
              {{ profileset.height.label(class='text-dark') }}<br />
              {{ profileset.height(class='px-2 py-2 border-0 rounded bg-body-secondary w-100 ') }}
            </div>
            <div class="py-2 col-6 m-0">
              {{ profileset.weight.label(class='text-dark') }}<br />
              {{ profileset.weight(class='px-2 py-2 w-100 border-0 rounded bg-body-secondary w-100 ') }}
            </div>
            
            <div class="py-2 col-6 m-0">
              {{ profileset.pincode.label(class='text-dark') }}<br />
              {{ profileset.pincode(class='px-2 py-2 border-0 rounded bg-body-secondary w-100 ') }}
            </div>
            <div class="py-2 col-6 m-0">
              {{ profileset.phone.label(class='text-dark') }}<br />
              {{ profileset.phone(class='px-2 py-2 border-0 rounded bg-body-secondary w-100 ') }}
            </div>
            <div class="py-2 col-6 m-0">
              {{ profileset.city.label(class='text-dark') }}<br />
              {{ profileset.city(class='px-2 py-2 border-0 rounded bg-body-secondary w-100 ') }}
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
              {{ profileset.submit(class='btn btn-dark') }}
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>
  <a href="{{ url_for('logout') }}"><button class="logout me-5 me-md-0 shadow postion-fixed">
    Log Out <i class="fa-solid fa-right-from-bracket"></i>
  </button></a>
  <i
    class="fa-solid fa-bars d-md-none me-2 d-flex position-fixed menu-button shadow"
    onclick="togglesidebar()"
  ></i>
</div>
<div class="p-4 pt-2 pt-md-0">
<div class="row gap-3 mt-2 px-2">
  <div class="col-md dash-card col-12 px-4 py-3">
    <p>User Name</p>
    <h3 class="fw-semibold">{{ user.username }}</h3>
    <p>
      <span style="color: #00c700"
        ><i class="fa-regular fa-circle"></i> Medassis</span
      >&nbsp;welcomes you.
    </p>
  </div>
  <div class="col-md dash-card col px-4 py-3">
    <div class="d-flex align-items-center justify-content-between">
      <div>
        <p>Gender</p>
        <h3 class="fw-semibold">
          {% if user.gender %}
          {{ user.gender }}
          {% else %}
          -
          {% endif %}

        </h3>
        <p style="color: #f1454d">Diversity</p>
      </div>
      <div>
        <i class="display-5 fa-solid fa-venus-mars" style="color: #f1454d"></i>
      </div>
    </div>
  </div>
  <div class="col-md dash-card col px-4 py-3">
    <p>Age</p>
    <h3 class="fw-semibold">
      {% if user.age %}
      {{ user.age }}
      {% else %}
      {{ "-" }}
      {% endif %}<span style="color: #a4a4a4">&nbsp;yrs</span></h3>
    <p>
      Your
      <span style="color: #00bfff"> health</span>, our<span
        style="color: #00bfff"
      >
        priority.</span
      >
    </p>
  </div>
  
</div>
<div class="row gap-3 px-2 mt-3">
    <div class="dash-card col-6 col-md-3 px-4 py-3">
        <p>Height</p>
        <h3 class="fw-semibold">
          {% if user.height %}
          {{ user.height }}
          {% else %}
          {{ "-" }}
          {% endif %}
          <span style="color: #a4a4a4;">&nbsp;m</span></h3>
        <p>Weight</p>
        <h3 class="fw-semibold">
          {% if user.weight %}
          {{ user.weight }}
          {% else %}
          {{ "-" }}
          {% endif %}
          <span style="color: #a4a4a4;">&nbsp;kg</span></h3>
        
    </div>
    <div class="dash-card col col-md-3 px-4 py-3">
        <p>City</p>
        <h3 class="fw-semibold">
          {% if user.city %}
          {{ user.city }}
          {% else %}
          {{ "-" }}
          {% endif %}
          <span style="color: #a4a4a4;">&nbsp;</span></h3>
        <p>Pincode</p>
        <h3 class="fw-semibold">
          {% if user.pincode %}
          {{ user.pincode }}
          {% else %}
          {{ "-" }}
          {% endif %}
          <span style="color: #a4a4a4;">&nbsp;</span></h3>
        
    </div>
    <div class="dash-card col-12 col-md px-4 py-3">
        <p>Email</p>
        <h5 class="fw-semibold pb-3">{{ user.email_address }}</h5>
        <p>Phone Number</p>
        <h5 class="fw-semibold">
          {% if user.phone %}
          +91 
          {{ user.phone }}
          {% else %}
          {{ "-" }}
          {% endif %}
        </h5>
    </div>
</div>
</div>
{% endblock %}
