{% extends "base.html" %}
{% block title %}Medassis | Reminder {% endblock %}
{% block content %}
{% include "feedback.html" %}

<div class="d-flex justify-content-center align-items-center m-0 position-relative" style="height: 100vh;">
    <div class="py-4 px-3 text-black d-md-none position-absolute top-0 start-0 w-100 d-flex justify-content-between align-items-center shadow" style="background:#c9ffce; width: 40px; border-radius:0 0 20px 20px"><h4>Reminder</h4><i class="fa-solid fa-bars d-md-none me-2 d-flex position-fixed menu-button shadow" onclick="togglesidebar()"></i></div>
    <div class="bg-white form-base shadow p-5 p-md-5 m-0 position-relative d-flex flex-column flex-md-row align-items-center"
        style="border-radius: 30px;">
        <div class="flex-fill d-flex flex-column justify-content-start">
            <h3 class="fw-normal mb-4 m-0">Reminder&nbsp;&nbsp;<img src="{{ url_for('static', filename='assests/bell.gif') }}" class=" d-md-none" alt="Reminder Bell" style="height: 80px;" /></h3>
            <form method="POST">
                {{ reminderform.hidden_tag() }}
                <div class="mb-4 text-black inputs">
                    {{ reminderform.medicine.label(class='text-dark') }}<br />
                    {{ reminderform.medicine(class='rounded border-0 bg-body-secondary px-2 py-2 text-dark w-100') }}
                </div>
                <div class="mb-4 text-black inputs">
                    {{ reminderform.reminder_time.label(class='text-dark') }}:<br />
                    {{ reminderform.reminder_time(class='rounded border-0 bg-body-secondary px-2 py-2 text-dark w-100') }}
                </div>
                <div class="text-center">
                    {{ reminderform.submit(class="btn btn-outline-success rounded-pill py-3 px-4") }}
                </div>
            </form>
        </div>
        <div class="d-none d-md-block ms-md-5">
            <img src="{{ url_for('static', filename='assests/bell.gif') }}" alt="Reminder Bell"
                style="height: 300px;" />
        </div>
    </div>
</div>

{% endblock %}