{% extends "base.html" %}

{% block title %}Medassis | Med-Finder{% endblock %}

{% block content %}
{% include "feedback.html" %}
<div style="color: darkgrey; height: 100vh; border-radius: 0;" class="position-relative">
    <div class="chat-wrapper" id="chat-wrapper-user">
        <div class="chat-header">
            <div class="header-left">
                <div class="avatar">
                    <i class="fa-solid fa-handshake-angle"></i>
                </div>
                <div class="user-info pb-3">
                    <i class="fa-solid fa-bars d-lg-none me-2 d-flex position-fixed menu-button shadow"
                        onclick="togglesidebar()"></i>
                    <h4 class="ps-md-0  fs-3 fs-md-3 pt-1 fw-semibold position-relative">Med FindAssist</h4>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="chat-body" id="chat-body-user">
            {% for message in messages %}
            <div class="message-bubble {% if message.msg_type == 'ask' %}ask{% else %}reply{% endif %}">
                <div class="message-content">
                    <div class="message-username">{{ message.user_name }}</div>
                    <p>Medicine: {{ message.medicine_name }}</p>
                    <p>Pincode: {{ message.user_pincode }}</p>
                    <p>City: {{ message.user_city }}</p>
                    {% if message.shop_name %}
                    <p>Shop Name: {{ message.shop_name }}</p>
                    {% if message.location %}
                    <p>Location: {{ message.location }}</p>
                    {% endif %}
                    {% endif %}
                    {% if message.price %}
                    <p>Price: Rs.{{ message.price }}</p>
                    {% endif %}
                    <div class="timestamp">{{ message.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</div>
                </div>
            </div>
            {% endfor %}
        </div>



        <div class="d-flex flex-column gap-1 gap-md-2 fixed start-0 bottom-0 position-absolute z-5">
       
            <button id="reply-button-user" type="button" data-bs-toggle="modal" data-bs-target="#reply-modal"
                style="width:50px; height:50px"
                class="action-button border-0 shadow rounded-circle fs-5 ms-2 mb-2 d-flex align-items-center justify-content-center"><i
                    class="p-4 fa-solid fa-reply"></i></button>

        </div>
        
        {% include 'replyform.html' %}
    </div>
</div>
<script>
    document.getElementById('ask-button-user').addEventListener('click', function (event) {
        event.preventDefault();
        const formData = new FormData(document.querySelector('form#useraskform'));
        fetch('/medicine-platform', {
            method: 'POST',
            body: formData
        }).then(response => {
            if (response.ok) {
                // Reload the chat to show updated messages
                location.reload();
            }
        });
    });

    document.getElementById('reply-button-user').addEventListener('click', function (event) {
        event.preventDefault();
        const formData = new FormData(document.querySelector('form#retailerreplyform'));
        fetch('/medicine-platform', {
            method: 'POST',
            body: formData
        }).then(response => {
            if (response.ok) {
                // Reload the chat to show updated messages
                location.reload();
            }
        });
    });


</script>
{% endblock %}