{% extends 'formbase.html' %} {% block formtitle %}Medassis | Liver Form{% endblock %}
{% block formcontent %}
<div class="position-relative">
    <a href="{{ url_for('dashboard') }}"><button class="position-absolute m-3 p-4 border-0 rounded-circle fs-5 shadow" style="
        width: 30px;
        height: 30px;
        background: var(--green-dark);
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      ">
            <i class="fa-solid fa-arrow-left"></i></button></a>
    <div class="w-100 justify-content-center d-flex pt-4">
        <h2 style="text-decoration: underline">X-ray form</h2>
    </div>
    <form method="POST" enctype="multipart/form-data" class="px-3 ms-3 py-3 row">
        {{ xrayform.hidden_tag() }}
        <h4 class="text-decoration-underline">Personal Information</h4>
        <div class="mb-3 col-12">
            <span>{{ xrayform.username.label(class="fw-semibold text-dark") }}</span><br />
            {{ xrayform.username(class="border bg-body-secondary rounded py-2 px-3 w-75") }}
        </div>
    
        <div class="mb-3 col-6">
            <span style="max-width:250px;">{{ xrayform.gender.label(class="fw-semibold text-dark ") }}</span><br />
            {{ xrayform.gender(class="border-0 d-flex w-100 justify-content-evenly py-2 px-0 w-100") }}
        </div>
    
        <div class="mb-3 col-6">
            <span>{{ xrayform.age.label(class="fw-semibold text-dark") }}</span><br />
            {{ xrayform.age(class="border bg-body-secondary rounded py-2 px-5 w-100") }}
        </div>
        <h4 class="text-decoration-underline">Medical Information</h4>

    
        <div class="mb-3 col-6 col-md-6">
            <span>{{ xrayform.height.label(class="fw-semibold text-dark") }}</span><br />
            {{ xrayform.height(class="border bg-body-secondary rounded py-2 px-3 w-100") }}
        </div>
    
        <div class="mb-3 col-6 col-md-6">
            <span>{{ xrayform.weight.label(class="fw-semibold text-dark") }}</span><br />
            {{ xrayform.weight(class="border bg-body-secondary rounded py-2 px-3 w-100") }}
        </div>
    
        <div class="mb-3 col-12">
            <span>{{ xrayform.x_ray.label(class="fw-semibold text-dark") }}</span><br />
            {{ xrayform.x_ray(class="border bg-body-secondary rounded py-2 px-3 w-100") }}
        </div>
    
        <div class="mb-3 col-12">
            {{ xrayform.submit(class="border-0 btn rounded-pill fw-bold py-3 px-4 btn btn-success submit-button") }}
        </div>
    </form>
</div>
{% endblock %}